<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" verbose="1" parallel="false">
    <test name="RegularTests">
        <packages>
            <package name="io.github.bonigarcia.testng.basic" />
            <package name="io.github.bonigarcia.testng.parameterized">
                <classes>
                    <class
                        name="io.github.bonigarcia.testng.parameterized.ParameterizedXmlNGTest">
                        <methods>
                            <exclude name=".*" />
                        </methods>
                    </class>
                </classes>
            </package>
        </packages>
    </test>
    <test name="ParameterizedTest-1">
        <parameter name="username" value="user" />
        <parameter name="password" value="user" />
        <parameter name="expectedText" value="Login successful" />
        <classes>
            <class
                name="io.github.bonigarcia.testng.parameterized.ParameterizedXmlNGTest" />
        </classes>
    </test>
    <test name="ParameterizedTest-2">
        <parameter name="username" value="bad" />
        <parameter name="password" value="bad" />
        <parameter name="expectedText" value="Invalid credentials" />
        <classes>
            <class
                name="io.github.bonigarcia.testng.parameterized.ParameterizedXmlNGTest" />
        </classes>
    </test>
</suite>