<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" verbose="1" parallel="false">
    <test name="RegularTests">
        <packages>
            <package name="io.github.bonigarcia.testng" />
            <package name="io.github.bonigarcia.testng">
                <classes>
                    <class
                        name="io.github.bonigarcia.testng.ParameterizedXmlNGTest">
                        <methods>
                            <exclude name=".*" />
                        </methods>
                    </class>
                </classes>
            </package>
        </packages>
    </test>
    <test name="ParameterizedTest-1">
        <parameter name="label" value="hello" />
        <parameter name="amount" value="10" />
        <classes>
            <class
                name="io.github.bonigarcia.testng.ParameterizedXmlNGTest" />
        </classes>
    </test>
    <test name="ParameterizedTest-2">
        <parameter name="label" value="world" />
        <parameter name="amount" value="20" />
        <classes>
            <class
                name="io.github.bonigarcia.testng.ParameterizedXmlNGTest" />
        </classes>
    </test>
</suite>